extends layout
block body
    each account, i in accounts
        h3= account.vendorName
        p= account.description
        p= account.paymentSchedules.length
            |  payment schedules
        table.table
            thead
                th Amount
                th Start
                th Regularity
                th Repeat on
                th Expiration
            tbody
                each sch in account.paymentSchedules
                    tr
                        td= sch.amount
                        td
                            = sch.startDate.getDate()
                            | /
                            = sch.startDate.getMonth()
                            | /
                            = sch.startDate.getFullYear()
                        td
                            if sch.daily
                                | every day
                            else if sch.weeklyDays.length
                                | every
                                = sch.weeklyGap > 0 ? ' ' + (sch.weeklyGap + 1) + ' weeks' : ' week'
                            else if sch.monthlyDates.length
                                | every
                                = sch.monthlyGap > 0 ? ' ' + (sch.monthlyGap + 1) + ' months' : ' month'
                        td
                            if sch.daily
                                | every day

                            else if sch.weeklyDays.length
                                each day in sch.weeklyDays
                                    = days[day] + " "

                            else if sch.monthlyDates.length
                                each date in sch.monthlyDates
                                    = date == -1 ? 'last-day' : date + ( date > 10 && date < 20 ? 'th' : ( date % 10 == 1 ? 'st' : ( date % 10 == 2 ?  'nd' : ( date % 10 == 3 ? 'rd' : 'th' ) ) ) )

                            //- TODO: Add specials (specific monthly week)
                        td
                            if sch.repeatDays
                                = sch.repeatDays + " days"

                            else if sch.repeatWeeks
                                = sch.repeatWeeks + " weeks"

                            else if sch.repeatMonths
                                = sch.repeatMonths + " months"

                            else if sch.repeatYears
                                = sch.repeatYears + " years"

                            else if sch.endDate
                                | on
                                = ' ' + sch.endDate.getDate()
                                | /
                                = sch.endDate.getMonth()
                                | /
                                = sch.endDate.getFullYear()

                            else
                                | Never expires

