
!!! 5
html
    head
        title Schedules
        link(rel="stylesheet", type="text/css", href="/public/bower_components/bootstrap/dist/css/bootstrap.css")
    body
        div.container

            h1 Schedules

            block body

        script(src="/public/bower_components/jquery/dist/jquery.min.js")
        script(src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js")
